<nav>
<div class="site-title">
<a href="/"><h1>Timeline</h1></a>
<p>A training site</p>

</div>
<ul>
    <li><a href="/">Messages</a></li>
    
    <li><a href="/create">New Message</a></li>
</ul> 
</nav>